@import 'tailwindcss';

html, body {
    background-color: white;
}

@theme {
	--main-color: #7d9b70;
	--main-color-darker: #5e7056;
    --main-text-color: #7E8389;
}

.oswald-base {
	font-family: 'Oswald', serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	color: #343a40;
}

#navLinks > li {
	margin-bottom: 16px;
	font-weight: 500;
	color: #000000bb;
}
#navLinks > li:hover {
	color: #ffffffbb;
}

.activeLink {
	color: #ffffffff;
}

.start {
	@media (width < 640px) {
		height: 96px;
	}
}

@keyframes open {
	from {
		height: 96px;
	}
	to {
		background-color: 250px;
	}
}

@keyframes close {
	from {
		height: 250px;
	}
	to {
		background-color: 96px;
	}
}

.open {
	@media (width < 640px) {
		height: 250px;
		animation-name: open;
		animation-duration: 0.4s;
	}
}

.closed {
	@media (width < 640px) {
		height: 96px;
		animation-name: close;
		animation-duration: 0.4s;
	}
}
