@import 'tailwindcss';

body {
	padding: 0;
	margin: 0;
    background-color: white;
}

@theme {
	--main-color: #7d9b70;
	--main-color-darker: #5e7056;
    --main-text-color: #7E8389;
}

.oswald-base {
	font-family: 'Oswald', serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	color: #343a40;
}
.chromefix {
	transform: translate(0,-50%);
}

.experience-list {
	margin-bottom: 96px;
	color: var(--main-text-color);
}

.experience-list li {
	list-style-type:disc;
	width: 90%;
	margin-left: 22px;
	margin-top: 14px;
	font-weight: 300;
	font-size: 1.4rem;
	margin-bottom: 12px;
}
.skill-list {
	margin-bottom: 60px;
}
.skill-list li {
	display: inline;
	margin-right: 20px;
}

#navLinks > li {
	margin-bottom: 16px;
	font-weight: 500;
	color: #000000bb;
}
#navLinks > li:hover {
	color: #ffffffbb;
}

.activeLink {
	color: #ffffffff;
}

.start {
	@media (width < 640px) {
		height: 96px;
	}
}

@keyframes open {
	from {
		height: 96px;
	}
	to {
		background-color: 350px;
	}
}

@keyframes close {
	from {
		height: 350px;
	}
	to {
		background-color: 96px;
	}
}

.open {
	@media (width < 640px) {
		height: 350px;
		animation-name: open;
		animation-duration: 0.4s;
	}
}

.closed {
	@media (width < 640px) {
		height: 96px;
		animation-name: close;
		animation-duration: 0.4s;
	}
}
